* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: flex-start;
  background-color: #09090B;
  padding: 1rem;
}

.header-btn {
  background-color: #171719;
  color: #ececec;
  border: none;
  border-radius: 55px;
  font-size: 15px;
  width: 10rem;
  padding: 0.75rem 1rem;
}

.selected-btn {
  background-color: #ffffff;
  color: #171919;
}

.body {
  background-color: #000000;
  flex: 1;
  display: grid;
  grid-template-columns: 44rem 44rem;
  grid-template-rows: 20rem 20rem;
  justify-content: center;
  align-content: center;
  column-gap: 2rem;
  row-gap: 2rem;
}

.form {
  grid-row: 1 / 3;
  background-color: #09090B;
  color: #ececec;
  display: flex;
  justify-content: center;
  border: 1px solid #26252A;
  font-size: 18px;
}

.placeholder {
  border: 1px solid #26252A;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  width: 40rem;
  padding: 2rem;
}

form input,
form select {
  width: 95%;
  min-height: 2rem;
  border: 1px solid #26252A;
  border-radius: 3px;
  background-color: inherit;
  color: #ececec;
  font-size: 15px;
  padding: 1rem;
}

form textarea {
  width: 95%;
  height: 5rem;
  resize: none;
  /* background-color: #000000; */
  color: #000;  
  background-color: #fff;  
  border: none;
}

form button {
  align-self: flex-end;
  padding: 0.5rem;
  font-size: 15px;
}
